
{% extends "base.html" %}
{% block content %}

<h1>Log Mining Logs:</h1><br>
<h4>The table below is a listing of all of the squid logs that have been mined:</h4><br>
<div class="spacer"></div>

{% if err_msg != '' %}
	<span style="color:red">{{err_msg}}</span>
	<div class="spacer"></div>
{% endif %}

<!-- Table listing all tests run -->

<center>
<table border="1" cellpadding="10">
<tr>
<th>Log Type</th>
<th>Time of Import</th>
<th>Log Start Time</th>
<th>Log End Time</th>
<th>Completion of Log</th>
<th>Total Rows Loaded</th>
</tr>

{% for row in squid_table %}
	<tr>
	<td>{{ row.0 }}</td> <!-- type -->
	<td>{{ row.1 }}</td> <!-- log_copy_time -->
	<td>{{ row.2 }}</td> <!-- start_time -->
	<td>{{ row.3 }}</td> <!-- end_time -->
	<td>{{ row.4 }}</td> <!-- log_completion_pct -->
	<td>{{ row.5 }}</td> <!-- total_rows -->
	</tr>
{% endfor %}

</table> 
</center>

<div class="spacer"></div>
<div class="spacer"></div>

<div id="stylized" class="myform">
<form action="/LML/" method="post">
{% csrf_token %}
<h1><u>Filter Log Records</u></h1><br>
<!--<p>This is the basic look of my form without table</p> -->

<label>Start UTC Timestamp
<span class="small">Earliest Timestamp: yyymmddhhiiss</span>
</label>
<input type="text" name="earliest_utc_ts" value="" />

<label>End UTC Timestamp
<span class="small">Latest Timestamp: yyymmddhhiiss</span>
</label>
<input type="text" name="latest_utc_ts" value=""/>

<br>
<button type="submit">Filter</button>

</form>
</div>

<div class="spacer"></div>

<u>Go to:</u>
<br><br>
<a href="/LML/copy_logs_form">Copy Logs</a><br><br>
<a href="/LML/log_list">Log List</a><br><br>
<a href="/LML/mine_logs_form">Mine Logs</a><br><br>
<a href="/">Home</a>
<br>

{% endblock %}