
{% extends "base.html" %}
{% block content %}

<body>
<h1><u>Fundraiser Reporting</u></h1><br>

<div class="spacer"></div>

<a href="/campaigns/">Latest Campaigns</a><br><br>

<a href="/tests/">Test Generation</a><br><br>

<a href="/LML/">Squid Log Mining</a><br><br>

<a href="/live_stats/">Live Results</a><br><br>

<a href="/live_stats/long_term_trends">Long Term Trends</a><br><br>

<a href="/live_lps/">Live Landing Pages</a><br><br>

<a href="/live_stats/impressions">Form Impressions</a>

{% endblock %}