body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:20px;}
.spacer_small{clear:both; height:4px;}


/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:800px;
padding:30px;
}

/* ----------- stylized ----------- */
#stylized{
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
}
#stylized h1 {
	font-size:18px;
	font-weight:bold;
	margin-bottom:8px;
}
#stylized h2 {
	font-size:14px;
	font-weight:normal;
	margin-bottom:8px;
}
#stylized p{
	font-size:20px;
	color:#444444;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
}
#stylized label{
	display:block;
	font-weight:bold;
	text-align:left;
	width:300px;
	float:left;
}
#stylized .small{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:left;
	width:300px;
}
#stylized .medium{
	color:#666666;
	display:block;
	font-size:14px;
	font-weight:normal;
	text-align:left;
	width:300px;
}
#stylized input{
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:200px;
	margin:2px 0 20px 10px;
}
#stylized button{
	clear:both;
	margin-left:600px;
	width:125px;
	height:31px;
	background:#666666 url(img/button.png) no-repeat;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}
#stylized select{
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:200px;
	margin:2px 0 20px 10px;
}

.container {
    width: 80%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}
/* note_list.html */
.new {
    text-align: center;
    border: 1px solid grey;
    margin-bottom: 1em;
    padding-bottom: 1em;
}
.list {
    border: 1px solid grey;
}
.list h2 {
    text-align: center;
}
/* note_detail.html */
.header {
    margin-bottom: 2em;
}
.detail .text {
    text-align: center;
}
.detail textarea {
    margin-top: 1em;
    width: 100%;
    height: 300px;
}
.detail .submit {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
