
{% extends "base.html" %}
{% block content %}

<h1><u>Choose a Campaign:</u></h1><br>

{% if err_msg != '' %}
	<br><font size="3" color="red">{{err_msg|safe}}</font><br><br>
{% endif %}

<!-- Table listing all campaigns running -->
<center>
<table border="1" cellpadding="10">
<tr>
<th>Report Name</th>
<th>Earliest Access</th>
<th>Campaign</th>
<th>Donations</th>
<th>Report Link</th>
</tr>

{% if campaigns %}
    <ul>
    {% for c in campaigns %}
    	{% if c.5 %}
    		<tr>
				<td>{{ c.2 }}</td> <!-- test_name -->
				<td>{{ c.3 }}</td> <!-- test_type -->
				<td><a href="/campaigns/{{ c.0 }}">{{ c.0 }}</a></td> <!-- utm_campaign -->
				<td>{{ c.4 }}</td> <!-- start_time -->
				<td><a href="/tests/report/{{ c.0 }}">view report</a></td> <!-- end_time -->
			</tr>
        {% else %}
    		<tr>
				<td></td> <!-- test_name -->
				<td>{{ c.3 }}</td> <!-- test_type -->
				<td><a href="/campaigns/{{ c.0 }}">{{ c.0 }}</a></td> <!-- utm_campaign -->
				<td>{{ c.4 }}</td> <!-- start_time -->
				<td></td> <!-- end_time -->
			</tr>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No campaigns are available.</p>
{% endif %}

</table> 
</center>

<div class="spacer"></div>
<div class="spacer"></div>

<div id="stylized" class="myform">
<form action="/campaigns/" method="post">
{% csrf_token %}
<h1>Filter the list of campaigns:</h1><br>
<!--<p>This is the basic look of my form without table</p> -->

<label>Minimum Donation
<span class="small">Number of donations by which to filter.</span>
</label>
<input type="text" name="min_donations" />

<label>Start UTC Timestamp
<span class="small">Earliest timestamp by which to filter campaigns</span>
</label>
<input type="text" name="utc_ts" />

<br>
<button type="submit">Filter</button>

</form>
</div>

<div class="spacer"></div>

<u>Go to:</u>
<br><br>
<a href="/tests">Test Generation</a>
<br><br>
<a href="/">Home</a>
<br>

{% endblock %}