
{% extends "base.html" %}
{% block content %}

<h1><u>Fundraiser Tests</u></h1><br>

<div id="stylized" class="myform">
<form action="/tests/build_test" method="post">
{% csrf_token %}
<h1>Generate a new test</h1><br>

<label for="test_name">Test Name:
</label>
<input type="text" name="test_name" />

<label for="utm_campaign"> UTM Campaign:
</label>
<input type="text" name="utm_campaign" />

<label for="start_time">Start Timestamp:
<span class="small">Format: yyyymmddhhiiss.</span>		
</label>
<input type="text" name="start_time" />

<label for="end_time">End Timestamp:
<span class="small">Format: yyyymmddhhiiss.</span>
</label>
<input type="text" name="end_time" /><br><br>

<button type="submit">Test</button>
</form>
</div>


<br><hr width=80%><br><br>

<!-- Table listing all tests run -->
<center>
<table border="1" cellpadding="10">
<tr>
<th>Name</th>
<th>Type</th>
<th>Campaign</th>
<th>Start Time</th>
<th>End Time</th>
<th>Winner</th>
<th>Conclusive?</th>
<th>Report</th>
</tr>

{% for row in test_rows %}
	<tr>
	<td>{{ row.0 }}</td> <!-- test_name -->
	<td>{{ row.1 }}</td> <!-- test_type -->
	<td>{{ row.2 }}</td> <!-- utm_campaign -->
	<td>{{ row.3 }}</td> <!-- start_time -->
	<td>{{ row.4 }}</td> <!-- end_time -->
	<td>{{ row.5 }}</td> <!-- winner -->
	<td>{{ row.6 }}</td> <!-- is_conclusive -->
	<td><a href="/tests/report/{{ row.2 }}">view</a></td>
	</tr>
{% endfor %}

</table> 
</center>

<div class="spacer"></div>
<div class="spacer"></div>

<div id="stylized" class="myform">
<form action="/campaigns/" method="post">
{% csrf_token %}
<h1>Filter the list of campaigns:</h1><br>
<!--<p>This is the basic look of my form without table</p> -->

<label>Minimum Donation
<span class="small">Number of donations by which to filter.</span>
</label>
<input type="text" name="min_donations" value="{{min_donations|escape}}" />

<label>Start UTC Timestamp
<span class="small">Earliest timestamp by which to filter campaigns</span>
</label>
<input type="text" name="utc_ts" value="{{earliest_utc|escape}}"/>

<br>
<button type="submit">Filter</button>

</form>
</div>

<div class="spacer"></div>

<u>Go to:</u>
<br><br>
<a href="/campaigns">Latest Campaigns</a><br><br>
<a href="/">Home</a>
<br>

{% endblock %}
